body{
    background-image: url(cnv.png);
}
.wrapper{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
}
.wrapper >*{
    padding: 5px;
    margin: 5px;
    border-radius: 1px;
    flex: 1 100%;
}
.header{
    height: auto;
    background-image: url('../img/logo.jpg');
    background-clip: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav{
    font-family: "Lobster", sans-serif;
    font-weight: 600px;
    font-style: normal;
    margin-top: -50px;
    height: auto;
}
.footer{
    background: rgba(235, 136, 194, 0.3);
    height: auto;
}
.grid{
    display: grid;
    margin: 10px;
    align-items: center;
    grid-gap: 25px;
}

.main{
    background: rgb(254, 188, 227, .3);
    height: 400px;
    width: 400px;
    padding: 40px;
    font-size: 20px;
    text-align: center;
}
.aside{
    background: rgb(243, 217, 221);
}
/* tampilan rtesponsive */
@media all and (min-width: 800px){
    .main{
        flex: 2;
    }
    .aside{
        order: 2;
    }
    .main{
        order: 1;
    }
    .footer{
       order: 3;
}
}

@media all and (min-width: 600px){
    .header{
        flex: 1;
    }
    .aside{
        flex: 1;
    }
}